.titulo-principal {
    font-family: "Pacifico";
    font-size: 190%;
}

.barra-navegacao {
    text-transform: uppercase;
    font-size: 80%;
}

.titulo-pagina {
    font-size: 300%;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 10px;
    font-weight: bold !important;
    
}


.subtitulo {
    text-align: center;
    font-size: 0.9em;
}

.cor-cinza {
    color: rgba(238, 237, 232, 0.904) !important;
}

.primeira-parte {
    background-image: url(Dreams.jpg) !important;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10px;
    padding-bottom: 100px;
}

.time{
    background-color: rgb(238, 238, 238);
}

titulo-sublinhado {
    text-decoration: aqua;
}

.imgPortifolio{
	position: relative;
    max-height:300px;
    width: 100%;
    height: auto;
}


.doPortifolio{
	text-align: center;
    padding-top: 5%;
}

.img{
    
    background-size:cover;
    width: 10em;
    height: 10em;
    vertical-align: middle;
    display:block;
    border-radius: 100%;
    margin-top: 10%;
    border: 5px solid #F3EEDC;
}

.titulo-time {
    font-weight: bolder !important;
}

.legenda-time {
    text-align: center !important;
    padding: 25px;
}

.nomes {
    font-size: 0.9em;
    font-weight: bold;
}

.contato {
    padding-bottom: 15px;
    background-color: rgb(20, 20, 20);
}

.titulo-contato {
    text-transform: uppercase;
}

.legenda-contato {
    font-size: 0.8em;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.conteudo {
    padding: 10px;
    color: #bbb0b0;
}

.ads {
    padding: 50px;
}

.center2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 25%;
    width: 15%;
}
.center3 {
    display: block;
    margin-left: 44%;
    margin-bottom: 20px;
}

.other-expertise-container{
    background-color: #f7f7f7;
    margin-left: 0px;
    margin-right:0px;
    margin-top: 70px;
}

.col-md-7{
    background-color: #f7f7f7;
}


.other-expertise-titulo{
    font-size:30px;
    color:#222222;
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
    margin-left: 0px;
    padding-right: 10px;
    padding-top: 50px;
    text-align:left; ;
    text-transform:uppercase;
}


.other-expertise-titulotext{
    color: rgb(136, 136, 136);
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 50px;
    margin-top: 20px;
    padding-right: 10px;
    padding-top: 10px;
    float: left;

}


.other-expertise-sub-titulo{
    font-family: 'Montserrat', sans-serif;
    color:#222222;
    font-size:14px;
   
    margin-left: 0px;
    text-transform:uppercase;
    font-weight:600;
}


.other-expertise-subtitulotext{
    color: rgb(136, 136, 136);
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    float: left;
    margin-right: 2px;
    margin-bottom: 20px;
}

.testbutton {
  font-family: arial;
  font-weight: bold;
  color: #FFFFFF;
  font-size: 12px;
  padding: 16px 23px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  background: #35C2F8;
}
.testbutton:hover {
  color: #FFFFFF ;
  background: #468CCF;
  background: linear-gradient(top,  #35C2F8,  #32B6E8);
  background: -ms-linear-gradient(top,  #35C2F8,  #32B6E8);
  background: -webkit-gradient(linear, left top, left bottom, from(#35C2F8), to(#32B6E8));
  background: -moz-linear-gradient(top,  #35C2F8,  #32B6E8);
}

.distancia{
    margin-top:8%;
}


.amazing-portfolio-list{
    margin-bottom: 30px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.amazing-portfolio-container{
    background-image: url( imagens/data/009-004.png) !important;
    background-repeat: no-repeat;
    height: 600px;
    margin-bottom: 20px;
    
}

.amazing-portifolio-titulo{
    font-size:30px;
    color:#222222;
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
    margin-left: 0px;
    padding-right: 10px;
    margin-top: 100px;
    margin-bottom: 20px;
    text-align:left; ;
    text-transform:uppercase;
}
.amazing-portifolio-text{
    
    color: rgb(136, 136, 136);
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-align: justify;

}

.amazing-portifolio-subtitulo{

    font-family: 'Montserrat', sans-serif;
    color:#222222;
    font-size:14px;
    text-transform:uppercase;
    font-weight:600;
}


.amazing-portifolio-smalimag{
    margin-top: 20px;
    padding-right: 0px;
}

h3 .contato-redes {
    text-transform: lowercase !important;
}

.caixa-espacamento {
    padding-left: 40px !important;
}